# Introduction

This notebook takes as input, the nfl_data_clean.csv file that is output from notebook Cap2_EDA.

# Contents:

- module and function imports
- load and inspect data
- Fill NaNs and missing values

## Imports

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime

## Load and Inspect Data

In [2]:
main_df = pd.read_csv('./data/nfl_data_clean.csv')

In [3]:
main_df.head(3)

,Unnamed: 0,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,team_away,team_favorite_id,over_under_line,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,home_id,away_id,home_pred_spread,home_ATS
0,12,9/1/1979,1979,1,False,Tampa Bay Buccaneers,Detroit Lions,TB,30.0,False,79.0,9.0,87.0,NaN,TB,DET,-3.0,12.0
1,13,9/2/1979,1979,1,False,Buffalo Bills,Miami Dolphins,MIA,39.0,False,74.0,15.0,74.0,NaN,BUF,MIA,5.0,3.0
2,14,9/2/1979,1979,1,False,Chicago Bears,Green Bay Packers,CHI,31.0,False,78.0,11.0,68.0,NaN,CHI,GB,-3.0,0.0

## Fill NaNs and Missing Values

In [4]:
#fill missing values for weather detail
main_df['weather_detail'].fillna('none', inplace=True)

# Calculate the mean values for each of the numeric weather columns
mean_temperature = main_df['weather_temperature'].mean()
mean_wind_mph = main_df['weather_wind_mph'].mean()
mean_humidity = main_df['weather_humidity'].mean()

# Fill NaN values with their respective means
main_df['weather_temperature'].fillna(mean_temperature, inplace=True)
main_df['weather_wind_mph'].fillna(mean_wind_mph, inplace=True)
main_df['weather_humidity'].fillna(mean_humidity, inplace=True)

In [5]:
#verify that there are no remaining NaNs
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10953 entries, 0 to 10952
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10953 non-null  int64
 1   schedule_date        10953 non-null  object
 2   schedule_season      10953 non-null  int64
 3   schedule_week        10953 non-null  object
 4   schedule_playoff     10953 non-null  bool
 5   team_home            10953 non-null  object
 6   team_away            10953 non-null  object
 7   team_favorite_id     10953 non-null  object
 8   over_under_line      10953 non-null  float64
 9   stadium_neutral      10953 non-null  bool
 10  weather_temperature  10953 non-null  float64
 11  weather_wind_mph     10953 non-null  float64
 12  weather_humidity     10953 non-null  float64
 13  weather_detail       10953 non-null  object
 14  home_id              10953 non-null  object
 15  away_id              10953 non-null  object
 16  home_pred_spread     10953 non-null  float64
 17  home_ATS             10953 non-null  float64
dtypes: bool(2), float64(6), int64(2), object(8)
memory usage: 1.4+ MB

## Handle each of the 'object' type fields

##### Change date col to instead be a count of number of days since superbowl 1

In [6]:
#reformat date column to numeric, counting Superbowl 1 date as NFL 'Day 0'
main_df['schedule_date'] = pd.to_datetime(main_df['schedule_date'])
sb1_date = pd.to_datetime('1967-01-15')

# Calculate the number of days elapsed for each date
main_df['days_since_sb1'] = (main_df['schedule_date'] - sb1_date).dt.days

# Drop the original 'schedule_date' column if you no longer need it
main_df.drop('schedule_date', axis=1, inplace=True)

##### Remove cols that do not add info to modeling/prediction

In [7]:
#eliminate Team_home and team_away, as they are redundant with home_id away_id
main_df.drop('team_home', axis=1, inplace=True)
main_df.drop('team_away', axis=1, inplace=True)

#eliminate team_favorite_id, as this information is fully captured in 
#   the sign of home_pred_spread column
main_df.drop('team_favorite_id', axis=1, inplace=True)

##### Address schedule_week column

In [8]:
main_df.schedule_week.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', 'Superbowl', '17', 'Wildcard', 'Division',
       'Conference', '18'], dtype=object)

Our approach will be to encode each of the non-numeric values to a consecutive number using domain knowledge that the NFL playoffs are played Wildcard, Division, Conference, then Superbowl. We'll use the new schedule from 2022 to define wildcard as 'week 19'

In [9]:
# Mapping for replacements
replacement_mapping = {
    'Wildcard': '19',
    'Division': '20',
    'Conference': '21',
    'Superbowl': '22'
}

# Replace values in the 'schedule_week' column
main_df['schedule_week'] = main_df['schedule_week'].replace(replacement_mapping)

#verify above
main_df.schedule_week.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '22', '17', '19', '20', '21', '18'],
      dtype=object)

In [10]:
# Convert the 'schedule_week' column from strings to integers
main_df['schedule_week'] = main_df['schedule_week'].astype(int)

In [11]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10953 entries, 0 to 10952
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10953 non-null  int64
 1   schedule_season      10953 non-null  int64
 2   schedule_week        10953 non-null  int64
 3   schedule_playoff     10953 non-null  bool
 4   over_under_line      10953 non-null  float64
 5   stadium_neutral      10953 non-null  bool
 6   weather_temperature  10953 non-null  float64
 7   weather_wind_mph     10953 non-null  float64
 8   weather_humidity     10953 non-null  float64
 9   weather_detail       10953 non-null  object
 10  home_id              10953 non-null  object
 11  away_id              10953 non-null  object
 12  home_pred_spread     10953 non-null  float64
 13  home_ATS             10953 non-null  float64
 14  days_since_sb1       10953 non-null  int64
dtypes: bool(2), float64(6), int64(4), object(3)
memory usage: 1.1+ MB

##### Dummy encode home_id, away_id, and weather detail columns to make them ML friendly without losing information

In [12]:
#create new main_df_numeric, where every dtype is float, int, or bool
main_df_numeric = pd.get_dummies(main_df, columns=['home_id', 'away_id', 'weather_detail'], prefix=['home', 'away','weather_detail_'])

In [13]:
print('main_df shape:           ',main_df.shape)
print('main_df Dtypes:          ',main_df.dtypes.unique(),'\n')

print('main_df_numeric shape:   ',main_df_numeric.shape)
print('main_df_numeric Dtypes:  ',main_df_numeric.dtypes.unique())

main_df shape:            (10953, 15)
main_df Dtypes:           [dtype('int64') dtype('bool') dtype('float64') dtype('O')]

main_df_numeric shape:    (10953, 85)
main_df_numeric Dtypes:   [dtype('int64') dtype('bool') dtype('float64')]

# Extract Holdout Data

#### Isolate and remove data from the 2022 season

2022 season is chosen because it is expected to be the most accurate approximation for the current/upcoming 2023 season, and this model is only prectically useful for prediction of the nearest upcoming games

In [14]:
#create df to keep the holdout data
szn2022 = main_df_numeric[main_df_numeric.schedule_season == 2022]
print(szn2022.shape)

(284, 85)

In [15]:
main_df_numeric_mod = main_df_numeric[main_df_numeric.schedule_season != 2022]
print(main_df_numeric_mod.shape)

(10669, 85)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(main_df_numeric_mod.drop(columns='home_ATS'), 
                                                    main_df_numeric_mod.home_ATS, test_size=0.3, 
                                                    random_state=47)

In [17]:
print(max(X_train.days_since_sb1))
print(min(X_train.days_since_sb1))
print(max(X_test.days_since_sb1))
print(min(X_test.days_since_sb1))

20118
4612
20104
4613

# note to self - TimeSeriesSplit method for CV?

# Create Dummy Models for future Comparison

### create dumb_regressor model that always predicts the mean, and evaluate

In [18]:
true_home_ATS_mean = main_df.home_ATS.mean()
print(true_home_ATS_mean)

0.1765269789098877